@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import './base.css';

a,
.green {
  text-decoration: none;
  color: #00bd7e;
  transition: 0.4s;
  font-family: 'VT323', monospace;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
